<html>
<title> Sessions demo </title>

<body bgcolor="lightyellow">
  <h1>Create An Account</h1>
  <br>

  <div>
    <form action="/create-account" method="POST">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br><br>
      <label for="pass">Password (8 characters minimum):</label><br>
      <input type="password" id="pass" name="password" minlength="8" required><br><br>
      <input type="submit" value="Register">
    </form>

    <a href="/">Already have an account? Login.</a>


</body>

</html>