<html>
<title> Sessions demo </title>
<body bgcolor="lightyellow">
<h1>Create An Account</h1>
<br>

<!-- <form action="/login" method="post">
  User name:<br>
  <input type="text" name="username" value="">
  <br>
  Password:<br>
  <input type="password" name="password" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</form>

<a href="/signup">create account</a> -->


</body>
</html>
