<html>
<body bgcolor="lightgreen">

<h1> Welcome to your account, <%= username %>!</h1>

<h2>  <%= username %>'s information </h2>
<p> <%= info %> </p>

<a href="/logout"> Logout</a>

</body>
</html>
