<html>
<body bgcolor="lightpink">

<h1> Account Created! Please Login</h1>
<div>
<img src="https://http.cat/201" width="500" height="auto"></img>
</div>

<h2><a href="/"> Login</a></h2>

</body>
</html>

